.spacer {
  flex: auto;
}
.mat-list-item button {
  color: #3d1f1f; /* Change la couleur du texte */
  font-style:oblique;
 display: inherit;
}
.toolbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 70;
}

.bright {
  filter: brightness(150%);
}
.align-right {
  margin-left: auto;
}
